@media(max-width: 930px){
    .cars-slid{
        margin-top: 10rem;
        padding: 15px;
        gap: 12px;
    }

    .btn-seta{
        width: 20px;
        height: 20px;
        padding: 20px;
    }

    .cars{
        height: 535px;
    }
}
